/* Apex CSS */
.Outer_Container
{
    height: 100vh;
}

/* Font Manipulation */
.fontFamily{
    font-family: ubuntu;
}

.Heading_Bold
{
    font-weight: bold;
    font-size: 40px;
    
}

.Heading_SemiBold
{
    font-weight: bold;
    font-size: 18px;
}

.Inner_Container
{
    padding-bottom: 15px;
    text-align: left;
}

.smallFont
{
    font-size: 12px;
}
